p {
  margin-bottom: unset;
  overflow-wrap: break-word;
}

#close:hover {
  color: red;
}

.container {
  height         : 90vh;
  display        : flex;
  justify-content: center;
  align-items    : center;
  font-family    : monospace;
}

.chatbox {
  background-color: cornsilk;
  box-shadow      : 0 0 5px 0 white;
  border-radius   : 8px;
  width           : 75%;
  height          : 90%;
  padding         : 2rem;
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
}

.chatbox__header {
  font-size    : 2rem;
  border-bottom: 1px solid black;
}

.chatbox__messages {
  flex-grow     : 1;
  margin-top    : 1rem;
  width         : 100%;
  align-self    : center;
  border        : 1px solid black;
  padding       : 1rem 0.5rem;
  display       : flex;
  flex-direction: column;
  overflow-y    : scroll;
}

.chatbox__messages--message {
  width: fit-content;
  max-width: 60%;
  min-width: 10% !important;
  margin   : 0.5rem 0;
}

.chatbox__messages::-webkit-scrollbar {
  width: 2px;
}

.chatbox__messages::-webkit-scrollbar-thumb {
  background-color: black;
}

.chatbox__footer {
  height         : 50px;
  margin-top     : 1rem;
  padding-top    : 1rem;
  border-top     : 1px solid black;
  display        : flex;
  justify-content: flex-start;
}

.message {
  background-color: #eb6464b3;
  color           : white;
  border-radius   : 0 8px 16px 0;
  padding         : 0.5rem;
  font-size       : 1.1rem;
}

.self {
  align-self: flex-end;
}

.self .message {
  border-radius: 8px 0 0 16px !important;
}

.self > div:first-of-type {
  text-align: right;
}

.center {
  align-self: center;
}

.center > div:first-of-type {
  text-align: center;
}

.center .message {
  border-radius: 8px !important;
}


.input {
  flex-grow: 1;
}