<div class="container">
  <div class="chatbox">
    <div class="chatbox__header">
      <span>{{room}}</span>
      <span class="pull-right"><i style="font-size:1rem;" class="fa fa-times" (click)="leave()"></i></span>
    </div>
    <div class="chatbox__messages">
      <div *ngFor="let item of messageArray"
        [ngClass]="{'chatbox__messages--message': true, 'self': item.user === user}">
        <span>{{item.user}}</span>
        <div class="message">
          <p>{{item.message}}</p>
        </div>
      </div>
    </div>
    <div class="chatbox__footer">
      <div class="input">
        <input type="text" placeholder="Type Message..." class="form-control" [(ngModel)]="messageText">
      </div>
      <div class="emoji" style="cursor: pointer; padding-top: 10px;" (click)="toggled = !toggled"
        [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'bottom'" (emojiPickerSelect)="handleSelection($event)">
        😄
      </div>
      <div class="send">
        <button type="button" class="btn center-color" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>