.bg-image {
    min-height             : 47.25rem !important;
    background-size    : cover;
    width              : auto;
    background-image   : url('../assets/images/main.jpg');
    background-position: 50% 50%;
}

@media (min-width: 20px) and (max-width: 575px) {
    .bg-image {
        height: 38.25rem !important;
    }
}