<div class="row justify-content-md-center">
    <div class="col-md-5">
        <div class="card text-white center-color">
            <h3 class="card-header" style="text-align: center;">Log In</h3>
            <div class="card-body p-5">
                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

                    <div class="form-group">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                            <div *ngIf="email.errors.required">
                                Email is required.
                            </div>
                            <div *ngIf="email.errors.pattern">
                                Please enter a valid Email ID
                            </div>
                        </div>
                        <input type="email" [pattern]="emailPattern" class="form-control" name="email" ngModel
                            #email="ngModel" placeholder="Your Email" data-rule="email" required />
                    </div>

                    <div class="form-group">
                        <div *ngIf="Password.invalid && (Password.dirty || Password.touched)" class="alert alert-danger">
                            <div *ngIf="Password.errors.required">
                                Passsword is required.
                            </div>
                        </div>
                        <input type="password" class="form-control" name="password" #Password="ngModel"
                            [(ngModel)]="password" placeholder="Passsword" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" [disabled]="!loginForm.valid"
                            class="btn form-control">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>