/* You can add global styles to this file, and also import other style files */
button:disabled{
    cursor: not-allowed;
}

.btn{
    background-color: white !important;
    color: #eb6464 !important;
}

.center-color{
    color: white !important;
    background-color: #eb6464 !important;
}